<template>
	<div>
		<div  v-if="errors" class="bg-red-500 text-white py-2 px-4 pr-0 rounded font-bold mb-4 shadow-lg">
		  <div v-for="(v, k) in errors" :key="k">
		    <p v-for="error in v" :key="error" class="text-sm">
		      {{ error }}
		    </p>
		  </div>
		</div>
		<h2></h2>
		<div class="form-group">
			<label for="name"> Name </label>
			<input type="text" id="name" class="form-control" v-model="item.name">
		</div>
		<div class="form-group">
			<label for="name"> Description </label>
			<input type="text" id="desc" class="form-control" v-model="item.desc">
		</div>
		<div class="form-group">
			<label for="name"> Price </label>
			<input type="text" id="price" class="form-control" v-model="item.price">
		</div>
		<button class="btn btn-success" @click="save"> {{isEdit ? 'Update' : 'Save'}} </button>
		<div class="form-group col-md-12" v-if="lists.length > 0">
			<h2 class="text-center">Product List</h2>
			<ul class="list-group">
				<li class="list-group-item" v-for="item in lists" :key="item.id">{{item.pname}} - {{item.pdesc}} - {{item.price}}
					<span class="float-right">
						<button class="btn btn-warning btn-sm mr-2" @click="editPro(item)">Edit</button>
						<button class="btn btn-danger btn-sm mr-2" @click="deletePro(item.id)">Delete</button>
					</span>
				</li>
				
			</ul>
		</div>
	</div>
</template>

<script>
export default{
	name: "product",
	data(){
		return {
			lists:[],
			item:{
				name:"",
				desc:"",
				price:"",
			},
			errors: null,
			temp_id: null,
			isEdit: false 
		}
	},
	mounted(){
		this.fetch();
	},
	methods:{
		fetch(){
			axios.get('api/product')
			.then(res => this.lists = res.data)
		},
		save(){
			let method = axios.post;
			let url = 'api/product';
			if(this.isEdit){
				method = axios.put;
				url = `api/product/${this.temp_id}`
			}
			try{
				method(url, this.item)
				.then(res=>{
					this.fetch();
					this.item = {
						name: "",
						desc: "",
						price: "",
					};
					this.temp_id = null;
					this.isEdit = false;

				})
			}catch(e){
	          this.errors = e.data.errors;
	        }
		},
		editPro(product){
			this.item = {
				name: product.pname,
				desc: product.pdesc,
				price: product.price,
			}
			this.temp_id = product.id;
			this.isEdit = true;
		},
		deletePro(id){
			try{
				axios.delete(`api/product/${id}`)
				.then(res => this.fetch())

			}catch(e){
				console.log(e)
			}
		}
	}
}
</script>